<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=habbit.habbit_name%></title>
    <link rel="stylesheet" href="/css/habbit.css">
</head>

<body>

    <main>
        <%# Heading %>
        <div class="app-heading-div border-bottom-px padding-10px">
            <h1 class="heading"><%=habbit.habbit_name%> Tracker</h1>
        </div>

        <div class="habbit-container border-bottom-px padding-10px">
            <ul id="item-list">
                <!-- <li class="list-item">
                    <div class="date-div"></div>
                    <div class="status"></div>
                </li> -->
            </ul>
        </div>
    </main>

    <script src="/js/moment.js"></script>
    <script src="/js/habbit.js"></script>

</body>

</html>