<%# Sample habit folder %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=habit.habit_name%></title>
    <link rel="stylesheet" href="/css/habit.css">
</head>

<body>

    <%# nav bar%>
    <nav>
        <a href="/">&larr; Home</a>
    </nav>

    <main>
        <%# Heading %>
        <div class="app-heading-div border-bottom-px padding-10px">
            <h1 class="heading"><%=habit.habit_name%> </h1>
        </div>

        <%#Date Filter container%>
        <div class="border-bottom-px padding-10px">
            <div class="subheadings">Search by date :</div>
            <div class="date-container ">
                <div>Start Date : <input type="date" name="start-date" id="start-date" class="date-picker" required>
                </div>
                <div>End Date : <input type="date" name="end-date" id="end-date" class="date-picker" required> </div>
                <button class="add" id="filter"><i class="fas fa-search"></i> Search</button>
            </div>
        </div>

        <%# Habit container %>
        <div class="habit-container border-bottom-px padding-10px">
            <ul id="item-list">
                <!-- <li class="list-item">
                    <div class="date-div"></div>
                    <div class="status"></div>
                </li> -->
            </ul>
        </div>

        <%#Key for knowing which color indicates what%>
        <div class="key :">
            <span>Key:</span>
            <span style="color: gray;">Unmarked</span>
            <span style="color: green;">Done</span>
            <span style="color: red;">Not Done</span>
        </div>
    </main>

    <script src="https://kit.fontawesome.com/c2e4f2d141.js" crossorigin="anonymous"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/habit.js"></script>


</body>

</html>