<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habbit Tracker</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <nav>
        <a href="/">Home</a>
    </nav>

    <main>
        <%# Heading %>
        <div class="app-heading-div border-bottom-px padding-10px">
            <h1 class="heading">Habbit Tracker</h1>
        </div>

        <div class="border-bottom-px habbit-input-div padding-10px">
            <h4 class="subheadings">Add A Habbit : </h4>
            <form class="habbit-form" action="/add-habbit" method="POST">
                <input type="text" name="habbit_name" class="habbit-details-input" placeholder="Drink 4 liters of h2o"
                    required>
                <button class="center-align add" type="submit"><i class="fas fa-plus"></i> ADD
                    TASK</button>
            </form>
        </div>

        <div class="habbit-container border-bottom-px padding-10px">
            <div id="empty-notify">"Nothing to show here please add a Habbit to continue!"</div>
            <ul id="item-list">
                <% for (const it of habbit_list){ %>
                <li onclick="location.href='/view-habbit/?id=<%=it._id%>'" class="list-item">
                    <div class="habbit"><i class="far fa-clipboard"></i> <%=it.habbit_name%></div>
                    <div class="delete"><a href="/delete-habbit/?id=<%=it._id%>"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>

    </main>


    <script src="https://kit.fontawesome.com/c2e4f2d141.js" crossorigin="anonymous"></script>
</body>

</html>