<%# Home page contains list of all habits and capabilities to add more habits %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <nav>
        <a href="/">Home</a>
    </nav>

    <main>
        <%# Heading %>
        <div class="app-heading-div border-bottom-px padding-10px">
            <h1 class="heading">Habit Tracker</h1>
        </div>

        <%# Adding a habit %>
        <div class="border-bottom-px habit-input-div padding-10px">
            <h4 class="subheadings">Add A Habit : </h4>
            <form class="habit-form" action="/add-habit" method="POST">
                <input type="text" name="habit_name" class="habit-details-input" placeholder="Drink 4 liters of h2o"
                    required>
                <button class="center-align add" type="submit"><i class="fas fa-plus"></i> ADD
                    TASK</button>
            </form>
        </div>

        <%# Habits container %>
        <div class="habit-container border-bottom-px padding-10px">
            <div id="empty-notify">"Nothing to show here please add a habit to continue!"</div>
            <ul id="item-list">
                <% for (const it of habit_list){ %>
                <li onclick="location.href='/view-habit/?id=<%=it._id%>'" class="list-item">
                    <div class="habit"><i class="far fa-clipboard"></i> <%=it.habit_name%></div>
                    <div class="delete"><a href="/delete-habit/?id=<%=it._id%>"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>

    </main>


    <script src="https://kit.fontawesome.com/c2e4f2d141.js" crossorigin="anonymous"></script>
</body>

</html>