/* font used */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/* global elements */
body{
    margin: 0px;
    box-sizing: border-box;
    padding: 10px 0px;
    height: 100vh;
    font-family: 'Balsamiq Sans';
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

main{
    border-radius: 10px;
    margin-top: 50px;
    background-color: white;
    width: 50%;
    display: flex;
    height: max-content;
    flex-direction: column;
    border: 2px solid lightslategray;
    max-height: 95vh;
}

/* Navigation bar */

nav{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
    height: 30px;
    position: fixed;
    background-color: black;
    color: white;
}

nav a{
    margin-left: 15px;
    font-size:  30px;
    text-decoration: none;
    color: white;
}

/* generic classes */
.heading{
    margin: 0px;
    color: lightslategray;
}

.border-bottom-px{
    border-bottom: 1px solid lightslategray;
}

.padding-10px{
    padding: 10px;
    box-sizing: border-box;
}

.center-align{
    text-align: center;
}

.subheadings{
    color: slategray;
    margin: 10px 0px;
}

/* application heading div*/
.app-heading-div{
    display: flex;
    justify-content: center;
}

/* habit input div */

.habit-form{
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    padding: 10px;
    background-color: #424242;
}

.habit-details-input{
    font-size: 1em;
    padding: 5px 5px;
    border: 0px;
    box-sizing: border-box;
    flex-grow: 1;
    outline: none;
    border: 2px solid lightslategray;
    border-radius: 5px;
}

.add{
    border: 3px solid #1B5E20;
    cursor: pointer;
    padding: 10px;
    font-size: 0.8em;
    color: white;
    background-color: #388E3C;
    border-radius: 8px;
    margin-left: 5px;
    outline: none;
}

.add:hover{
    background-color: #1B5E20;
}


/* habits List */
#item-list{
    cursor: pointer;
    min-height: 20px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#empty-notify{
    display: none;
    text-align: center;
}

.list-item{
    opacity: 1;
    background-color: whitesmoke;
    margin: 2px 0px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid lightslategray;
}

.habit{
    flex-grow: 1;
}

.delete a{
    color: black;
}

/* Media Queries for max w 1200px */

@media screen and (max-width:1200px){
    main{
        width: 80%;
    }
}


/* media quereis for screens below 786px */

@media screen and (max-width:768px){
    .max-width-item{
        min-width: 250px;
    }

    main{
        width: 98%;
    }

    body{
        font-size: 15px;
    }
}